::-webkit-scrollbar-track {
    background: 0 0;
}

::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 5px;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

body, html {
    min-width: 1100px;
    background-color: #292a2b;
}

body ::-webkit-scrollbar-thumb {
    background-color: #ddd;
}

body ::-webkit-scrollbar {
    width: 8px;
}

body, button, input, select, textarea, th {
    color: #333;
    background-color: #fff;
    font-size: 14px;
    line-height: 1.5;
    font-family: poppin,Tahoma,Arial,\5FAE\8F6F\96C5\9ED1,sans-serif;
    font-family: Tahoma,Arial,\5FAE\8F6F\96C5\9ED1,sans-serif;
}

.player__ft {
    position: absolute;
    top: 65px;
    left: 10px;
    width: 100%;
    height: 11%;
}

.btn_big_prev {
    top: 4px;
    left: 0;
    width: 19px;
    height: 20px;
    background-position: 0 -30px;
}

.btn_big_down, .btn_big_like, .btn_big_next, .btn_big_only, .btn_big_play, .btn_big_prev, .btn_big_style_list, .btn_big_style_order, .btn_big_style_random, .btn_big_style_single, .btn_big_voice, .btn_lang, .mod_btn_comment, .player_progress__dot {
    position: absolute;
    background-image: -webkit-image-set(url(../img/player.png) 1x,url(../img/player@2x.png) 2x);
    opacity: .8;
    filter: alpha(opacity=80);
}

a {
    color: #333;
    text-decoration: none;
    background-color: transparent;
}

.icon_txt {
    font: 0/0 a;
}

.btn_big_play--pause {
    background-position: -30px 0;
}

.btn_big_play {
    top: 0;
    left: 65px;
    width: 21px;
    height: 29px;
    background-position: 0 0;
}

.btn_big_next {
    top: 4px;
    left: 132px;
    width: 19px;
    height: 20px;
    background-position: 0 -52px;
}

.player_voice {
    position: absolute;
    top: 0;
    left: 250px;
    width: 80px;
    padding-top: 13px;
}

.player_progress {
    padding-top: 6px;
    height: 8px;
    cursor: pointer;
}

.btn_big_voice {
    top: 4px;
    left: 10px;
    width: 26px;
    height: 21px;
    background-position: 0 -144px;
}

.btn_big_voice--no {
    background-position: 0 -182px;
    left: -40px;
}
.sys_btn{
    position: absolute;
    width: 200px;
    top: 125px;
    height: 50px;
}

.btn_shutdown {
    top: 0;
    left: 65px;
    width: 32px;
    height: 32px;
    background-image: url(../img/shutdown.png);
    position: absolute;
    opacity: .8;
}

.btn_cancel {
    top: 0;
    left: 120px;
    width: 32px;
    height: 32px;
    background-image: url("../img/cancel.png");
    position: absolute;
    opacity: .8;
}

.btn_down_voice {
    top: 0;
    left: 15px;
    width: 32px;
    height: 32px;
    background-image: url("../img/volDown.png");
    position: absolute;
    opacity: .8;

}

.btn_up_voice {
    top: 0;
    left: 55px;
    width: 32px;
    height: 32px;
    background-image: url("../img/volUp.png");
    position: absolute;
    opacity: .8;
}